.hero__background{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../assets/heroImage.png");
    background-repeat: no-repeat;
    background-size: 100%;

    .container{
        .hero__card{
            width: 600px;
            height: 440px;
            padding: 60px 40px;
            background-color: #FFF3E3;
            border-radius: 10px;
            z-index: 2;
            // margin-left: 250px;


            animation-name: fromTo;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-delay: .1s;
            .hero__subtitle{
                font-size: 16px;
                font-weight: 600;
                color: #333333;
            }
            .hero__title{
                font-size: 52px;
                font-weight: 700;
                color: #B88E2F;
                margin-top: 5px;
                margin-bottom: 17px;
            }
            .hero__desc{
                font-size: 18px;
                font-weight: 500;
                color: #333333;
                margin-bottom: 46px;
            }
            .hero__btn{
                width: 220px;
                height: 75px;
                align-items: center;
                color: #fff;
                background-color: #B88E2F;
                border: 1px solid #B88E2F;
                cursor: pointer;
                transition: .5s ease;
                
            }
            .hero__btn:hover{
                background-color: #fff;
                color: #B88E2F;
            }
        }
    }
}




@keyframes fromTo {
    from{
        display: none;

    }
    to{
        display: block;
        margin-left: 380px;
        
    }
}

@media (max-width:990px) {
    .main{
        .hero__background{
            .container{
                .hero__card{
                    width: 100%;
                    height: 350px;
                    padding: 30px 20px;
                    .hero__title{
                        font-size: 46px;
                    }
                    .hero__btn{
                        width: 180px;
                        height: 60px;
                    }
                }
            }
        }
    }

    @keyframes fromTo {
        from{
            display: none;
    
        }
        to{
            display: block;
            
        }
    }
}




@media (max-width:450px) {

    .main{
        .hero__background{
            .container{
                .hero__card{
                    width: 100%;
                    height: 320px;
                    margin: 0 auto;
                    padding: 20px 20px;
                    .hero__title{
                        font-size: 35px;
                    }
                    .hero__desc{
                        margin-bottom: 25px;
                    }
                    .hero__btn{
                        width: 150px;
                        height: 50px;
                    }
                }
            }
        }
    }
}