* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.conteaner {
  width: 1290px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
