.header {
  margin-top: 38px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__ul {
    display: flex;
    align-items: center;
    gap: 75px;
    cursor: pointer;
  }
  &__div {
    display: flex;
    align-items: center;
    gap: 45px;
    cursor: pointer;
  }
  &__banner {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 63px;
  }
}
